Source: node-tunnel-agent
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Jérémy Lal <kapouer@melix.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 12)
 , node-safe-buffer
 , pkg-js-tools (>= 0.9.20~)
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/js-team/node-tunnel-agent
Vcs-Git: https://salsa.debian.org/js-team/node-tunnel-agent.git
Homepage: https://github.com/mikeal/tunnel-agent
Rules-Requires-Root: no

Package: node-tunnel-agent
Architecture: all
Depends: ${misc:Depends}
 , node-safe-buffer
 , nodejs
Description: HTTP proxy tunneling agent module for Node.js
 node-tunnel-agent is an HTTP CONNECT tunnel client module
 for Node.js.
 .
 Node.js is an event-based server-side javascript engine.
